<div nz-row >
  <div nz-col nzSpan="3" class="bodySideDiv">
    <h2>{{itemInside.id}}</h2>
  </div>
  <div nz-col nzSpan="12" class="bodyCenterDiv">
    <p> Title: {{itemInside.title}}</p>
    <p>Text: {{itemInside.text}}</p>

  </div>
  <div nz-col nzSpan="6" class="bodyCenterDiv">
    <button nz-button nzType="primary"
            (click) = "formSwitch()"
    >Edit</button>
    <button nz-button nzType="primary" nzDanger
            nz-popconfirm
            nzPopconfirmTitle="Are you sure delete this entry?"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="delete(itemInside.id)"
    >Delete</button>
  </div>
  <div nz-col nzSpan="3" class="bodySideDiv">
  </div>
</div>


<nz-modal [(nzVisible)]="formShow" nzFooter="null"
          nzClosable = "false"
          nzTitle="Change this entry" (nzOnCancel)="formSwitch()">
  <app-form
    (closeModal)="formSwitch()"
    [formState] = "itemInside"
    (changeInside) = "change($event)"
  ></app-form>
</nz-modal>

