#data {
  padding: 20px;
}
.formButtons {
  float: right;
  margin-top: -15px;
  button:first-child {
    margin-right: 6px;
  }
}
input, textarea {
  &.ng-invalid.ng-touched {
    border: 2px solid red;
  }
  &.ng-valid.ng-touched {
    border: 2px solid green;
  }
}
