<div nz-row class = "mainDiv">
  <div nz-col nzSpan="3" class = 'headDiv'></div>
  <div nz-col nzSpan="12" class = 'headDiv'>
    <h1>Real.com</h1>
  </div>
  <div nz-col nzSpan="6" class = 'headDiv'>
    <button nz-button [nzType]="'primary'" (click)="formSwitch()">
      <span>Add an entry</span></button>
  </div>
  <div nz-col nzSpan="3" class = 'headDiv'>
  </div>
</div>

<app-item
  *ngFor ="let item of data$ | async"
  (idDelete)="deleteItem($event)"
  (changeInside) = "change($event)"
  [itemInside] = "item"
></app-item>

<nz-modal [(nzVisible)]="formShow" nzFooter="null"
nzClosable = "false"
nzTitle="Add an entry" (nzOnCancel)="formSwitch()">
  <app-form
    (closeModal)="formSwitch()"
    (changeInside) = "add($event)"
  ></app-form>
</nz-modal>

<div *ngIf="loading$ | async" nz-row class = "loadingDiv">
  <div nz-col nzSpan="10">
  </div>
  <div nz-col nzSpan="4">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
    <h2>Loading</h2>
  </div>
  <div nz-col nzSpan="10">
  </div>
</div>

<div *ngIf="error$ | async">
  {{error$ | async}}
</div>

